<?xml version="1.0" encoding="UTF-8"?>

<odoo>

<!--    <menuitem id="beds_24" name="Beds24" action="action_beds24_bookings_list" web_icon="hotel_reservation_beds24,static/description/icon.png" />-->

    <menuitem id="hotel_configuration_menu_beds24" parent="hotel.hotel_configuration_menu" name="Beds24"/>


    <menuitem id="bookings_main" name="Bookings" parent="hotel.hotel_management_menu" sequence="1" />
    <menuitem id="bookings_all_bookings" name="All Bookings" action="action_beds24_bookings_list" parent="bookings_main" />
    <menuitem id="bookings_get_bookings" name="Get Bookings" action="action_beds24_get_bookings" parent="bookings_main" />

    <menuitem id="rooms_main" name="Room Types" parent="hotel.hotel_management_menu" sequence="2" />
    <menuitem id="rooms_all_rooms" name="All Room Types" action="action_beds24_room_types_list" parent="rooms_main" />
    <menuitem id="rooms_get_rooms" name="Get Room Types" action="action_beds24_get_room_types" parent="rooms_main" />
    <menuitem id="rooms_update_rooms" name="Update Room Types" action="action_beds24_update_room_types" parent="rooms_main" />
    <menuitem id="rooms_sync_room_types" name="Sync All Room Types" action="action_sync_room_types" parent="rooms_main" />



</odoo>